<robot name="airplane">
  <link name="radar">
    <visual>
      <origin xyz="0.64 -0.61 -150" rpy="0 0 1.5708" />
      <geometry>
        <mesh filename="package://twist_estimator/launch/model/Djimini22.dae" scale="80 80 80"/>
        <!-- <mesh filename="/home/hao/Downloads/DJImini2.dae" scale="10 10 10"/> -->
      </geometry>
    </visual>
  </link>
</robot>

