%YAML: 1.0
event:
  topic: "/dvs/events"
  freq: 30 # hz
  fx: 777.45610423588334
  fy: 779.76202894277674
  cx: 300.38359408244736
  cy: 279.04500965124504
  resolution: [640, 480]
  deltaT: 0.05 #1e-2 #5e-3 #5e-2 #5e-3 #5e-3 #5e-2 #1.5e-2 #5e-2 #5e-2 #5e-4 #2e-2 #5e-5
  t1: 0.1 #5e-3 #2.5e-3 #2.5e-2 #2.5e-3 #2.5e-2 #1e-2 #4e-2 #5.5e-2 #5.5e-2 #3e-4 #2.5e-2 #3e-5
  mesh_size: 10 #10 #11 # 2 # Please keep singular so that there are center pixels present radius = 2 * mesh_size + 1
  timeshift_cam_imu: 0.010493761582439365
  show_events: true
  k1: -3.4586894695704090e-01
  k2: -2.9045184959612474e-01
  p1: -1.0391103458784200e-02
  p2: 7.3915951547466716e-04
  k3: 2.4282707657614919e+00
  t1_count: 75000
  t2_count: 45000
  
smooth: 0.1
filter_num: 0
median_radius: 0
ignore_polarity: false
use_gauss: false
ratio_inliers: 0.4

radar_config: "radar_param_mocap.yaml"

radar:
  topic: "/ti_mmwave/radar_scan_pcl_0"
  type: "ti_mmwave" # ars548
  Extrinsics:
    time_offset: 0.0
    Trans: [-0.0, 0.0, 0.0]
    Rot: [1, 0, 0,
          0, 1, 0,
          0, 0, 1]

radar_event:
  T_re:              # Radar to event camera external parameters
    - [0.0,  -1.0,  0.0,  0.04077303]
    - [0.0,   0.0,  -1.0,  -0.02330925]
    - [1.0,  0.0,  0.0,  -0.16198989]
    - [0.0,  0.0,  0.0,  1.0]

event_extrincs:
  topic: "/dvs/events"
  Extrinsics:
    time_offset: 0.0
    Trans: [0.04077303, -0.02330925, -0.16198989]
    Rot: [0.0286651, -0.9992392, -0.02644507,
          -0.04739285, 0.0277848, -0.99848982,
          0.99846494, -0.0273685, 0.04815325]

# [0.0286651,  -0.04739285,  0.99846494,
# 0.9992392,   0.0277848,  -0.0273685,
# -0.02644507,  0.99848982,  0.04815325]


# Estimator
knot_distance: 0.1 #0.055 #0.03     #[s]
update_every_k_knot: 4  #[knot]


output_file: "/home/hao/Desktop/radar-event-new/src/TwistEstimator/output/twist_estimator.csv" 


# twist bias model
bias:
  omega: [0.2, 0.2, 0.2]
  vel: [0.2, 0.2, 0.2]
  # omega: [1.0, 2.0, 3.0]
  # vel: [1.0, 2.0, 3.0]
