
<launch>
  <!-- 启动 test_detector2.py -->
  <!-- <node pkg="twist_estimator" type="test_estimator3" name="test_estimator3" output="screen"> -->
    <!-- <param name="param_name" value="param_value" /> -->
  <!-- </node> -->

  <!-- 启动 combi_radar.py -->
  <node pkg="twist_estimator" type="combi_radar_road.py" name="combi_radar" output="screen">
    <!-- <param name="param_name" value="param_value" /> -->
  </node>

  <!-- 启动 catch_radar_twist.py -->
  <node pkg="twist_estimator" type="catch_radar_twist_road.py" name="catch_radar_twist" output="screen">
    <!-- <param name="param_name" value="param_value" /> -->
  </node>

  <!-- 启动 catch_radar_twist.py -->
  <!-- node pkg="twist_estimator" type="catch_radar_estimator.py" name="catch_radar_estimator" output="screen" -->
    <!-- <param name="param_name" value="param_value" /> -->
  <!-- /node -->

    <!-- 启动 catch_radar_twist.py -->
  <node pkg="twist_estimator" type="catch_radar_estimator_road.py" name="catch_radar_estimator_road" output="screen">
    <!-- <param name="param_name" value="param_value" /> -->
  </node>

  <!-- Load URDF file -->
  <param name="robot_description" command="cat $(find twist_estimator)/launch/model/DJImini22.urdf" />

  <!-- Start robot_state_publisher to publish the robot model -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50" />
  </node>

  <!-- Start RViz and load the configuration file -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find twist_estimator)/config/rviz_config.rviz" output="screen">
    <!-- Set the robot_description parameter in RViz -->
    <param name="robot_description" command="cat $(find twist_estimator)/launch/model/DJImini22.urdf" />
  </node>


</launch>
